attrs==20.3.0             # via pytest
certifi==2020.12.5        # via requests
chardet==4.0.0            # via requests
django==3.1.7
idna==3.1                 # via requests
importlib-metadata==3.7.3  # via pluggy, pytest
more-itertools==8.7.0     # via pytest
packaging==20.9           # via pytest
pillow==8.1.2
pluggy==0.13.1            # via pytest
py==1.10.0                 # via pytest
pyparsing==2.4.7          # via packaging
pytest-django==4.1.0
pytest==6.2.2             # via pytest-django
pytz==2021.1              # via django
requests==2.25.1
six==1.15.0               # via packaging
sorl-thumbnail==12.7.0
sqlparse==0.4.1           # via django
urllib3==1.26.4           # via requests
wcwidth==0.2.5            # via pytest
zipp==3.4.1               # via importlib-metadata
django-debug-toolbar~=3.2
python-dotenv==0.15.0
djangorestframework==3.12.2
markdown==3.3.4
django-filter==2.4.0